.button-margin {
  margin-top: 20px;
  margin-right: 10px;
}

.link-container {
  margin-top: 20px;
}

.viewer-window {
  margin-top: 20px;
  position: absolute;
  //width: 50%;
  //height: 50%;
  //vertical-align: middle;
  height: 500px;
  width: 800px;
}

.select {
  margin-top: 20px;
  width: 400px;
}