<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand">Forge Viewer</a>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col">
    
        <!-- <form [formGroup]="clientCredentialsForm"> -->
          <div class="button-container">
            <!-- <button type="button" class="btn btn-info button-margin">Submit Input</button> -->
            <button *ngIf="!getBucketItems"type="button" class="btn btn-info button-margin" (click)="check()">Get Data!</button>
            <button *ngIf="!callViewer && getBucketItems" type="button" class="btn btn-info button-margin" (click)="authorize()">Authorize me!</button>
            <!-- <p>Select Model</p> -->
            <select class="form-select select" aria-label="Default select example">
              <option selected>Select Model</option>
              <option *ngFor="let model of itemUrnAndKey">{{item}}</option>
            </select>
          </div>
        <!-- </form> -->
    </div>
    <div class="row">
      <div class="col">
        <div *ngIf="callViewer" class="viewer-window">
          <app-viewer [accessToken]="httpAccessToken"
                      [modelUrn]=""></app-viewer>
        </div>
      </div>
    </div>
  </div>
</div>